.app {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.hide {
  display: none !important;
}
.icon-2xl {
  font-size: 35px;
}
.icon-xl {
  font-size: 26px;
}
.icon-sm {
  font-size: 22px;
}
.box-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  scrollbar-width: 0 !important;
  overflow-y: scroll;
  padding: 40px 30px 15px;
}
.dark {
  background-color: rgba(255, 255, 255, 0.08);
}
.light-frt {
  background-color: rgb(252, 134, 134);
}
.light-frth {
  background-color: rgb(215, 250, 134);
}
.light {
  background-color: rgb(194, 252, 246);
}
.light-trd {
  background-color: rgb(250, 221, 205);
}
.light-snd {
  background-color: rgb(253, 234, 176);
}
.green {
  color: #0fa147;
  font-weight: 900;
}
.underline {
  text-decoration: underline;
}
.bottom-p {
  margin-top: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 30px;
}
.logo p {
  font-family: "Silkscreen", sans-serif;
  font-size: 20px;
}
.logo p span {
  color: #0fa147;
  font-size: 15px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 6px 10px;
  background-color: #ebebeb;
  border-radius: 100px;
}
.nav-items {
  color: #0b1001;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s;
}
.nav-items:hover {
  color: rgb(65, 65, 65);
}
.nav .active-item {
  background-color: #ffff;
}
.header h1 {
  text-align: center;
  font-size: 28px;
  font-family: "Silkscreen", sans-serif;
}
.header h1 span {
  color: #0fa147;
}

.container {
  display: grid;
  /* grid-template-rows: minmax(200px, auto); */
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 200px;
  gap: 2rem;
  padding: 20px 40px;
}
.item {
  border-radius: 30px;
}
.item-tall {
  grid-row: span 2 / auto;
}
.item-wide {
  grid-column: span 2 / auto;
}
.about {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 0;
}
.about h1 {
  font-size: 35px;
  font-family: "Silkscreen", sans-serif;
}
.about h3 {
  font-size: 18px;
}
.about h4,
p {
  /* text-align: left; */
  font-size: 15px;
}
.about-more {
  text-decoration: underline;
  color: #0fa147;
  cursor: pointer;
}
.skill-item {
  display: flex;
  gap: 10px;
}
.skill-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill-desc p {
  font-size: 14.5px;
}
.social {
  overflow: hidden;
  position: relative;
}
.social a {
  position: absolute;
  font-size: 20px;
  right: 30px;
  bottom: 10px;
  z-index: 100;
  cursor: pointer;
  padding: 0;
}
.social .icon {
  background-color: rgb(48, 45, 45);
  opacity: 0.8;
  border: none;
  padding: 8px;
  border-radius: 100%;
}
.social img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .project-img {
  min-height: 200px;
  width: 100%;
} */
.project {
}
.project h3 {
  font-size: 14px;
}
.project img {
  /* width: 100%; */
  min-height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
.project-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-skills-icons {
  display: flex;
  gap: 5px;
}
.project-more {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
}
.project-links {
  display: flex;
  justify-content: space-evenly;
}

.project-about .btn {
  text-align: center;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 20px;
}

@media only screen and (max-width: 860px) {
  .navbar {
    flex-direction: column;
  }
  .nav {
    order: 3;
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    gap: 10px;
    padding: 5px 10px;
  }
  .nav-items {
    padding: 5px 10px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 350px) {
  .nav {
    gap: 20px;
    padding: 5px 15px;
  }
  .nav .active-item {
    border-bottom: 3px solid #0fa147;
    background-color: inherit;
    /* color: #0219e0; */
  }
  .nav-items {
    padding: 0;
    border-radius: 0;
  }
}
